// <--------------Font-Names

$PTsansDP: "PTSans-DP", sans-serif;
$ProximaDP: "Proxima Nova-DP", sans-serif;

// ------------------------------------>

// <--------------Colors

$light: #ebebeb;
$deepDark: #665f60;
$lightGray: #dbdbdb;
$acent:  #9f9acf;
$lightW: #fefefb;
$logoFill: #f6f6f6;
$formFill: rgba(254, 254, 251, 0.34);
// ------------------------------------>

// <--------------Queries

  $xs: 0;
  $sml: 320px;
  $sm: 560px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1400px;

// ------------------------------------>

